[Desktop Entry]
Type=Application
Name=Wissel
Comment=Pick a browser every time you open a link
Exec=wissel %u
Icon=web-browser
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;
